:root {
  /* Background Gradient */
  --backgroundGradientStart: #332e36;
  --backgroundGradientEnd: #272727;

  /* Card Back Gradient */
  --cardBackGradientStart: #AE4444;
  --cardBackGradientEnd: #333333;

  /* Card Text Color */
  --timerTextColor: #dadada;

  /* Card Text Color */
  --cardTextColor: #3a3a3a;

  /* Card Border Color */
  --cardBorderColor: #7f8c8d;

  /* Selected Card Gradient */
  --selectedGradientStart: #e6e6e6;
  --selectedGradientEnd: #d6d6d6;

  /* Completed Card Gradient */
  --completedGradientStart: #f1c40f;
  --completedGradientEnd: #f39c12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'fira sans', sans-serif;
}

body {
  background: linear-gradient(to bottom, var(--backgroundGradientStart), var(--backgroundGradientEnd));

  color: var(--cardTextColor);
  overflow: hidden;
}

.card {
  background: linear-gradient(to bottom, var(--cardBackGradientStart), var(--cardBackGradientEnd));
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card h3 {
  color: var(--cardTextColor);
  visibility: hidden;
  width: 100%;
  height: 100%;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    visibility: hidden;
  }

  100% {
    transform: rotateY(180deg);
    visibility: visible;
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateY(0deg);
    visibility: hidden;
  }

  100% {
    transform: rotateY(180deg);
    visibility: visible;
  }
}

.selected {
  background: linear-gradient(to bottom, var(--selectedGradientStart), var(--selectedGradientEnd));
  animation-name: rotate;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.unselected {
  animation-name: rotate2;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.selected h3 {
  visibility: visible;
}

.complete {
  background: linear-gradient(to bottom, var(--completedGradientStart), var(--completedGradientEnd));

}

.complete h3 {
  visibility: visible;
}

.CardGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.timer {
  color: var(--timerTextColor);
  width: 100%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: linear-gradient(to bottom, var(--cardBackGradientStart), var(--cardBackGradientEnd));
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}