.Popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Popup h2 {
  background: #fff; /* White background for the message */
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}
